/* Replica della grafica con la possibilità di avere messaggi scritti dall’utente (verdi) e
dall’interlocutore (bianco) assegnando due classi CSS diverse.
Visualizzazione dinamica della lista contatti: tramite la direttiva v-for , visualizzare
nome e immagine di ogni contatto */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-box, .list-inline{
  display: flex;
}

ul > li{
  list-style: none;
  padding: 5px;
}
/* mix */

/* backgrounds */
.head{
  background-color: #EAEAEA;
}

.foot, .address-book-nav{
  background-color: #f3eeea;
}
/* /backgrounds */

/* main structure */
.body-wrap{
  background: linear-gradient(#009688 100px, #d8dbd5 100px);
  height: 100vh;
  font-family: 'Lato', sans-serif;
  padding: 20px;
}

.main-container, .main-container > section, .head > *, .address-book{
  height: 100%;
}

.main-container{
  width: 80%;
  margin: 0 auto;
}

section.user{
  flex-basis: 30%;
  background-color: #fff;
}

section.chat{
  flex-basis: 70%;
}

.head, section.chat > .foot{
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.main-chat{
  background-image: url(../img/mine.jpg);
  background-size: contain;
  height: calc(100% - 120px);
}
/* main structure */

/* commons */
.user-info img, .contact-info img{
  height: 100%;
  border-radius: 100%;
  padding: 5px;
}

.head .icons{
  color: #B1B1B1;
  margin: 0 10px;
}

.head .icons i, .foot i{
  font-size: 20px;
  padding: 10px;
}

ul.icons, .user-info, .contact-info.current{
  align-items: center;
}
/* /commons */

/* User SIDE */
.main-user{
  flex-direction: column;
  height: calc(100% - 60px);
}

.notification-setting, .address-book-nav{
  padding: 5px;
}

.notification-setting{
  background-color: #8EDAFC;
  align-items: center;
}

.notification-icon{
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  background-color: #fff;
  font-size: 18px;
  color: #8EDAFC;
  border-radius: 100%;
  margin: 10px;
}

.address-book-nav button, .address-book-nav input{
  background-color: #fff;
  border: #EAEAEA 1px solid;
}

.address-book-nav button{
  padding: 5px 20px;
  color: #B1B1B1;
}

.address-book-nav input{
  flex-basis: 100%;
  padding: 5px;
}

.address-book{
  overflow-y: scroll;
  flex-basis: 100%;
}

.address-book li{
  height: 65px;
  overflow: hidden;
}

.address-book .contact-info{
  display: flex;
  align-items: flex-start;
  border-top: #EAEAEA 1px solid;
}
/* /User SIDE */

/* Chat SIDE */
section.chat > .head{
  border-left: #DBDBD2 1px solid;
}

.main-chat{
  overflow-y: scroll;
}

.main-chat:after{
  content: "";
  display: block;
  clear: both;
}

.message{
  width: 40%;
  border-radius: 5px;
  margin: 5px 50px;
  background-color: white;
  float: left;
}

.message.input{
  background-color: #D5F9BA;
  float: right;
}

.info-message{
  text-align: right;
  font-size: 8px;
}

.chat > .foot i{
  margin: 0 20px;
  color: #6B7376;
}

.chat > .foot input{
  flex-basis: 100%;
  border: none;
  border-radius: 5px;
  padding: 15px;
}
