<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <!-- /font-awesome -->
  <!-- font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- font -->
  <link rel="stylesheet" href="css/style.css">
  <title>Boolzapp</title>
</head>
<body>
  <div id="app" class="body-wrap">
    <div class="main-container flex-box">
      <!-- USER AND ADDRESS BOOK SIDE -->
      <section class="user">
        <!-- USER HEADER -->
        <div class="head flex-box">
          <div class="user-info flex-box">
            <img class="users-img" src="img/avatar_8.jpg" alt="">
            <span class="users-name">
              Nome utente
            </span>
          </div>
          <ul class="list-inline icons">
            <li><i class="fas fa-circle-notch"></i></li>
            <li><i class="fas fa-comment-alt"></i></li>
            <li><i class="fas fa-ellipsis-v"></i></li>
          </ul>
        </div>
        <!-- /USER HEADER -->
        <!-- USER MAIN -->
        <div class="main-user flex-box">
          <!-- SETTING NOTIFICATIONS -->
          <div class="notification-setting flex-box">
            <div class="notification-icon">
              <i class="fas fa-bell-slash"></i>
            </div>
            <div class="notification-text">
              <p>Ricevi notifiche di nuovi messaggi</p>
              <a href="#">Attiva notifiche desktop</a>
            </div>
          </div>
          <!-- SETTING NOTIFICATIONS -->
          <!-- ADDRESS BOOK NAVIGATION -->
          <div class="address-book-nav flex-box">
            <button type="button" name="button"><i class="fas fa-search"></i></button>
            <input type="text" name="" value="" placeholder="Cerca o inizia una nuova chat">
          </div>
          <!-- /ADDRESS BOOK NAVIGATION -->
          <!-- ADDRESS BOOK -->
          <ul class="address-book">
            <li class="contact-info" :class="contact.activeClass" v-for="(contact, i) in contacts" @click="activeContact(contacts, i)">
              <img class="users-img" :src="contact.srcImg" alt="">
              <span class="users-name">
                {{contact.nome}}
              </span>
            </li>
          </ul>
          <!-- /ADDRESS BOOK -->
        </div>
        <!-- /USER MAIN -->
      </section>
      <!-- USER AND ADDRESS BOOK SIDE -->
      <!-- CHAT SIDE -->
      <section class="chat">
        <!-- CHAT HEADER -->
        <div class="head flex-box">
          <div class="current contact-info flex-box">
            <img class="users-img" :src="contacts[index].srcImg" alt="">
            <div>
              <div class="users-name">
                {{contacts[index].nome}}
              </div>
              <p>Ultimo accesso</p>
            </div>
          </div>
          <ul class="list-inline icons">
            <li><i class="fas fa-search"></i></li>
            <li><i class="fas fa-circle-notch"></i></li>
            <li><i class="fas fa-paperclip"></i></li>
          </ul>
        </div>
        <!-- /CHAT HEADER -->
        <!-- /CHAT MAIN -->
        <ul class="main-chat">
          <li class="message" v-for="message in contacts[index].messages">
            <p>{{message.text}}</p>
            <p class="info-message">Data/Ora</p>
          </li>
        </ul>
        <!-- /CHAT MAIN -->
        <!-- /CHAT FOOT -->
        <div class="foot flex-box">
          <i class="far fa-smile"></i>
          <input type="text" name="" value="" placeholder="Scrivi un messaggio">
          <i class="fas fa-microphone"></i>
        </div>
        <!-- /CHAT FOOT -->
      </section>
      <!-- /CHAT SIDE -->
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
